.class-RegaliaComboField.optedOut {
    .class-RegaliaOrderField .class-CheckboxList,
    .class-DegreeInfoField,
    .class-RegaliaSizeField {
        display: none;
    }
}

.class-HeightField {
    input {
        display: inline-block;
        width: 50%;
        max-width: 5em;
    }
}

table.regalia-order-table {
    font-size: 10pt;
}